<tr id="cid{{ cat_id }}" ><td valign="top" width=2><img src="/static/AppDir/image/spacer.gif" width=2></td><td colspan=2><a href="#" class="t" title="" onClick="ToggleCatShow({{ cat_id }});" width=100%>{{ cat_name }}</a></td></tr>
<tr id="r{{ cat_id }}s" ><td colspan=3 height=4><img src="/static/AppDir/image/spacer.gif"></td></tr>
<tr ><td colspan=3 height=2 background="/static/AppDir/image/line.gif"></td></tr>
